body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}



header {
  background-color: #f1f1f1;
  padding: 60px; /* 3 times larger padding */
  text-align: center;
  border-radius: 30px; /* 3 times larger border radius */
}

h1 {
  margin: 0;
  font-size: 72px; /* 3 times larger font size */
}

#menu {
  margin-top: 90px; /* 3 times larger margin-top */
  text-align: center;
}

#order-form {
  margin-top: 90px; /* 3 times larger margin-top */
  text-align: center;
}

#notification {
  margin-top: 90px; /* 3 times larger margin-top */
  text-align: center;

}

#app-image {
  max-width: 290%; /* 3 times larger max-width */
  margin-top: -60px; /* 3 times larger margin-top */
  margin-left: -30px; /* 3 times larger margin-left */
  display: block; /* Add this line to make it a block-level element */
  margin: 0 auto; /* Add this line to center horizontally */
  margin-left: -25px;
}



/* Increase the size of the checkboxes */
input[type="checkbox"] {
  transform: scale(1.5); /* Adjust the scale factor as needed */
}



form {
  display: flex;
  flex-direction: column;
  max-width: 900px; /* 3 times larger max-width */
  margin: 0 auto;
}

label {
  margin-top: 30px; /* 3 times larger margin-top */
  font-weight: bold;
}

button {
  margin-top: 60px; /* 3 times larger margin-top */
  background-color: #83a342;
  color: white;
  border: none;
  padding: 30px 60px; /* 3 times larger padding */
  font-size: 48px; /* 3 times larger font size */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9fc34d;
}

select,
input[type="text"],
input[type="number"] {
  padding: 24px; /* 3 times larger padding */
  font-size: 42px; /* 3 times larger font size */
}

#status {
  font-weight: bold;
  color: #c0392b;
}

.food-item-wrapper {
  margin: 75px; /* 3 times larger margin */
  border-radius: 30px; /* 3 times larger border radius */
  background-color: #f1f1f1;
  padding: 30px; /* 3 times larger padding */
  position: relative;
}

.food-item {  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px; /* 3 times larger margin-bottom */
  text-align: center;
}

.food-name {
  font-weight: bold;
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 48px; /* 3 times larger font size */
}

.food-image {
  max-width: 300px; /* 3 times larger max-width */
  height: auto;
  border-radius: 30px; /* 3 times larger border radius */
}

.quantity-buttons {
  display: flex;
  align-items: center;
  gap: 15px; /* 3 times larger gap */
  margin-top: 30px; /* 3 times larger margin-top */
  justify-content: center;
}

.quantity-buttons button {
  border: none;
  background-color: transparent;
  font-size: 48px; /* 3 times larger font size */
  cursor: pointer;
  color: black;
}

.quantity-input {
  width: 90px; /* 3 times larger width */
  text-align: center;
  font-size: 48px; /* 3 times larger font size */
}

.add-to-basket-button {
  margin-bottom: 0;
}

#item-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 3px solid #ccc; /* 3 times thicker border */
  border-radius: 30px; /* 3 times larger border radius */
  padding: 120px; /* 3 times larger padding */
  display: none;
  z-index: 999;
  max-width: 1200px; /* 3 times larger max-width */
  width: 80%;
}

#item-popup-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px; /* 3 times larger margin-bottom */
}

.price {
  font-size: 54px; /* 3 times larger font size */
  color: darkgreen;
}

.extra-label {
  display: block;
  margin-bottom: 15px; /* 3 times larger margin-bottom */
  text-align: left;
  font-size: 42px; /* 3 times larger font size */
  color: #333;
}

.main-title {   
  text-align: center;
  font-size: 48px; /* 3 times larger font size */
  color: #333;
  margin-bottom: -30px;
}

.empty-basket-element {   
  text-align: center;
  font-size: 48px; /* 3 times larger font size */
  color: #333;
}

.main-text {   
  text-align: center;
  font-size: 32px; /* 3 times larger font size */
}

.extra-text {
  font-size: 42px; /* 3 times larger font size */
}

#basket-section {
  margin-top: 60px; /* 3 times larger margin-top */
}

#basket-section h2 {
  font-size: 72px; /* 3 times larger font size */
  margin-bottom: 30px; /* 3 times larger margin-bottom */
}

#basket-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket-item {
  display: flex;
  align-items: center;
  margin-top: 30px; /* 3 times larger margin-top */
  font-size: 32px; /* 3 times larger font size */
}

.basket-item-name {
  margin-left: 30px; /* 3 times larger margin-left */
  text-align: left;
}

.remove-icon {
  margin-left: 15px; /* 3 times larger margin-left */
  cursor: pointer;
  
}

.extras-list {
  font-size: 36px; /* 3 times larger font size */
  margin-top: 15px; /* 3 times larger margin-top */
  margin-left: 30px; /* 3 times larger margin-left */
}

.basket-item-wrapper {
  display: flex;
  align-items: baseline;
}

.remove-icon-container {
  margin-left: 15px; /* 3 times larger margin-left */
  margin-top: 9px; /* 3 times larger margin-top */
}

.total-price {
  margin-top: 75px; /* 3 times larger margin-top */
  font-size: 84px; /* 3 times larger font size */
}

/* Style for the floating button */
#floating-button {
  position: fixed;
  bottom: 60px; /* 3 times larger bottom position */
  right: 60px; /* 3 times larger right position */
  z-index: 999;
}

#basket-count {
  position: absolute;
  top: 33px; /* 3 times larger top position */
  right: -15px; /* 3 times larger right position */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: rgb(202, 0, 0);
  color: white;
  font-size: 36px; /* 3 times larger font size */
  border-radius: 50%;
}

#scroll-to-basket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px; /* 3 times larger width */
  height: 180px; /* 3 times larger height */
  background-color: #9fc34d;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

#scroll-to-basket:hover {
  opacity: 0.8;
}

#basket-icon {
  width: 120px; /* 3 times larger width */
  height: 120px; /* 3 times larger height */
  filter: invert(1);
}

.added-message {
  margin-top: 150px; /* 3 times larger margin-top */
  margin-bottom: -300px; /* 3 times larger margin-bottom */
  display: none;
  font-size: 75px; /* 3 times larger font size */
}

#bh-image {
  width: 50%; /* 3 times larger width */
  margin-top: -30px;
}



.terms-container {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  color: darkgrey;
}

.terms {
  max-height: 80px;
  overflow: hidden;
}

.show-terms {
  color: rgb(146, 209, 230);
  cursor: pointer;
}


.login-container {
  display: none; /* Initially hide the login container */
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.settings-container {
  /*display: none;  Initially hide the login container */
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.toggle-container {
  text-align: center;
  margin-bottom: 10px;
}

.toggle-container input[type="checkbox"] {
  display: none;
}

.toggle-container label {
  cursor: pointer;
  padding: 12px 80px;
  border-radius: 50px;
  background-color: #ff8383;
  color: white;
  
  display: block;
  margin: 0 auto;
  width: 50%;
}

.toggle-container input[type="checkbox"]:checked + label {
  background-color: rgb(138, 226, 164);
  color: white;
}


.toggle-container-capacity {
  text-align: center;
  margin-bottom: 10px;
}

.toggle-container-capacity input[type="checkbox"] {
  display: none;
}

.toggle-container-capacity label {
  cursor: pointer;
  padding: 12px 80px;
  border-radius: 50px;
  background-color: #ff8383;
  color: white;
  
  display: block;
  margin: 0 auto;
  width: 50%;
}

.toggle-container-capacity input[type="checkbox"]:checked + label {
  background-color: rgb(138, 226, 164);
  color: white;
}

.login-button {
  border: none;
  border-radius: 50px;
  padding: 12px 80px;
  font-size: 16px;
  background-color: rgb(151, 212, 233);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}

.pill-button {
  border: none;
  border-radius: 50px;
  padding: 12px 80px;
  font-size: 16px;
  background-color: rgb(151, 212, 233);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.pill-button:hover {
  background-color: #5a9fc1;
}



.login-button:hover {
  background-color: #5a9fc1;
}

/* Rounded input fields */
input[type="text"],
input[type="password"] {
  border: none;
  border-radius: 50px;
  padding: 12px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  outline: none;
  width: calc(100% - 40px); /* Subtract padding from the width */
}

/* Ensure username is one line */
#username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


hr {
  border: 1px solid rgb(238, 238, 238);
}



.delivery-login-button {
  border: none;
  border-radius: 50px;
  padding: 12px 80px;
  font-size: 16px;
  background-color: rgb(151, 212, 233);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.delivery-login-button:hover {
  background-color: #5a9fc1;
}

.guest-login-button {
  border: none;
  border-radius: 50px;
  padding: 12px 80px;
  font-size: 16px;
  background-color: rgb(147, 233, 183);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
  width: 100%;
}

#logout-button {
  border: none;
  border-radius: 50px;
  padding: 12px 80px;
  font-size: 16px;
  background-color: rgb(207, 136, 130);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.logout-button:hover {
  background-color: #c15a5a;
}

.guest-login-button:hover {
  background-color: #5ac15a;
}


.deliveryLoginMessage {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  color: rgb(151, 0, 0);
}